# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/

# Data
data/news/*
data/sec_filings/*
!data/news/.gitkeep
!data/sec_filings/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
